::selection {
	background: #464646; /* WebKit/Blink Browsers */
	color: #eee;
}
::-moz-selection {
	background: #464646; /* Gecko Browsers */
	color: #eee;
}

html,
body {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 14px;
	line-height: 1.42857143;
	
	margin: 0;
	padding: 0;
	min-height: 100%;
	height: 100%;
	position: relative;
	
	background: #464646;
	color: #333333;
}
* {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
*,
*:before,
*:after {
	box-sizing: border-box;
	font-size: 1em;
	line-height: 1.42857143;
	margin: 0;
	padding: 0;
}
img {
	border: 0;
}
a {
	color: #337ab7;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #23527c;
	outline: 0;
}

.clear {
	clear: both;
}

.clearfix:after,
.form .input:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
* html .clearfix,
* html .form .input:after { zoom: 1; } /* IE6 */
*:first-child+html .clearfix,
*:first-child+html .form .input:after { zoom: 1; } /* IE7 */

.form .input,
.clearfix {
    *zoom: 1;
}

#menu {
	width: 50px;
	position: absolute;
	transition: width 0.5s;
	min-height: 100%;
}
#wrapper {
	margin: 0 0 0 50px;
	background: #f3f3f3;
	min-height: 100%;
	position: relative;
	transition: margin 0.5s;
}
.menu-open #menu {
	width: 150px;
}
.menu-open #wrapper {
	margin: 0 0 0 150px;
}

#menu .gravatar {
	display: block;
	background: #fff;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	margin: 30px 0 40px 10px;
	transition: height 0.5s, width 0.5s, margin 0.5s;
}
.menu-open #menu .gravatar {
	width: 80px;
	height: 80px;
	margin: 10px 0 10px 10px;
}
#menu ul,
#menu li {
	list-style: none;
	white-space: nowrap;
}
#menu > ul > li {
	position: relative;
}
#menu a {
	display: block;
	position: relative;
	height: 40px;
	line-height: 20px;
	overflow: hidden;
	padding: 10px 10px 10px 150px;
	border-left: 0px solid #55aaf3;
	transition: padding 0.5s;
	margin: 0 0 0 5px;
}
.menu-open #menu a {
	padding: 10px 10px 10px 40px;
}
#menu a:hover,
#menu a:focus {
	margin: 0;
	border-left: 5px solid #55aaf3;
	color: #55aaf3;
}
#menu > ul > li > ul {
	left: 0;
	opacity: 0;
	background: #464646;
	position: absolute;
	top: 100%;
	left: 100%;
	z-index: 2;
	border-radius: 0 3px 3px 0;
	padding: 2px 2px 2px 0;
	transition: opacity 0.7s, top 0.7s;
	pointer-events: none;
}
#menu > ul > li:hover > ul {
	opacity: 1;
	top: -2px;
	pointer-events: all;
}
#menu > ul li:hover {
	background: #666;
}
#menu > ul li:hover > a {
	text-shadow: 0px 0px 5px #000;
}
#menu .logout button::before,
#menu a::before {
	display: block;
	position: absolute;
	font: normal normal normal 20px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	left: 10px;
	top: 10px;
	content: "\f1db";
}
#menu .articles::before {
	content: "\f1ea";
}
#menu .calendar::before {
	content: "\f133";
}
#menu .rental::before {
	content: "\f084";
}
#menu .settings::before {
	content: "\f085";
}
#menu .map::before {
	content: "\f0ac";
}
#menu .users::before {
	content: "\f0c0";
}
#menu .pages::before {
	content: "\f0c5";
}

#menu .logout button,
#menu .logout button::before {
	position: absolute;
	display: block;
	cursor: pointer;
	width: 20px;
	color: #337ab7;
}
#menu .logout button {
	text-indent: -999px;
	border: none;
	background: transparent;
	left: 120px;
	top: 70px;
}
#menu .logout button::before {
	left: 0;
	top: 0;
	content: "\f13e";
	text-indent: 0;
}
#menu .logout button:hover::before {
	color: #55aaf3;
	content: "\f023";
}


#top {
	height: 40px;
	margin-left: 40px;
	-webkit-transition: 750ms margin-left;
	overflow: hidden;
}
#top #menu-toggle {
	cursor: pointer;
		
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	left: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
	transition: left 0.5s;
}
.menu-open #top {
	margin-left: 0;
}
.menu-open #top #menu-toggle {
	left: -30px;
}
#top #menu-toggle i,
#top #menu-toggle i::before,
#top #menu-toggle i::after {
	content: ' ';
	position: absolute;
	-webkit-transition: 750ms all;
	transition: 750ms all;
	background: #337ab7;
	
	width: 20px;
	height: 4px;
	border-radius: 2px;
	left: 0;
	top: 8px;
}
#top #menu-toggle:hover i,
#top #menu-toggle:hover i::before,
#top #menu-toggle:hover i::after {
	background: #23527c;
}
#top #menu-toggle i::before {
	-webkit-transform: translateY(-7px);
	-ms-transform: translateY(-7px);
	transform: translateY(-7px);
	top: 0;
}
#top #menu-toggle i::after {
	-webkit-transform: translateY(7px);
	-ms-transform: translateY(7px);
	transform: translateY(7px);
	top: 0;
}
.menu-open #top #menu-toggle:hover i,
.menu-open #top #menu-toggle:hover i::before,
.menu-open #top #menu-toggle:hover i::after {
	background: #55aaf3;
}
.menu-open #top #menu-toggle i {
	-webkit-transform: translateY(0px) rotate(45deg);
	-ms-transform: translateY(0px) rotate(45deg);
	transform: translateY(0px) rotate(45deg);
}
.menu-open #top #menu-toggle i::before {
	-webkit-transform: translateY(0px) rotate(-90deg);
	-ms-transform: translateY(0px) rotate(-90deg);
	transform: translateY(0px) rotate(-90deg);
}
.menu-open #top #menu-toggle i::after {
	-webkit-transform: translateY(0px) rotate(-90deg);
	-ms-transform: translateY(0px) rotate(-90deg);
	transform: translateY(0px) rotate(-90deg);
}
#top #server-time {
	font-size: 10px;
	float: right;
	line-height: 12px;
	padding: 14px 15px;
}
#top .crumbs {
	padding: 10px;
}
#top .crumbs a {
	display: block;
	float: left;
	padding: 0 20px 0 0;
	position: relative;
	color: #666;
}
#top .crumbs a::before {
	font: normal normal normal 14px/20px FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: block;
	content: "\f105";
	position: absolute;
	left: -14px;
	top: 0;
	color: #666;
	text-align: center;
	
	width: 10px;
	height: 20px;
}
#top .crumbs a:first-child::before {
	display: none;
}
#top .crumbs a:hover {
	color: #55aaf3;
}
header {
	display: block;
	height: 58px;
	border-top: 1px solid #e7eaec;
	border-bottom: 1px solid #e7eaec;
	background: #fff;
	overflow: hidden;
}
header h1 {
	padding: 15px;
	line-height: 28px;
	font-size: 21px;
	white-space: nowrap;
}



.overlay {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1000;
	background: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	display: flex;
	user-select: none;
}
.confirm {
	width: 245px;
	z-index: 1001;
	margin: 0 auto;
	background: #f3f3f3;
	border-radius: 5px;
	padding: 15px 15px 52px 15px;
	text-align: center;
	position: relative;
	cursor: default;
}
.confirm .button {
	position: absolute;
	bottom: 15px;
	width: 100px;
}
.confirm .button.add {
	left: 15px;
}
.confirm .button.cancel {
	right: 15px;
}


.form {
	padding: 15px;
}
.form .toolbar {
	margin: 0 0 15px 0;
	clear: both;
}
.form .toolbar h2 {
	float: left;
	font-size: 18px;
}
.form .toolbar .buttons {
	float: right;
}
.form .toolbar .buttons.bottom {
	float: none;
	margin: 15px 0 0 25%;
}
.form .toolbar .buttons .button {
    margin-left: 10px;
	margin-bottom: 5px;
	display: block;
	float: left;
}
.form .toolbar .buttons .button:first-child {
    margin-left: 0;
}
.form .toolbar .buttons .button.back {
	float: right;
}
.button {
	display: inline-block;
	border: 1px solid #55aaf3;
	background: #55aaf3;
	border-radius: 2px;
	padding: 0 4px;
	color: #fff;
	cursor: pointer;
}
.button:hover {
	border: 1px solid #23527c;
	background: #23527c;
	color: #fff;
}
.button.delete {
	background: #d9534f;
	border: 1px solid #d9534f;
}
.button.delete:hover {
	border: 1px solid #c9302c;
	background: #c9302c;
}
.button.add {
	border: 1px solid #5cb85c;
	background: #5cb85c;
}
.button.add:hover {
	border: 1px solid #449d44;
	background: #449d44;
}

.form .input {
	clear: both;
	margin: 0 0 10px 0;
}
.form .input > label {
	width: 25%;
	display: block;
	float: left;
	padding: 3px 0;
}
.form .input.textarea > label {
	float: none;
	width: 100%;
}
.form .input > input,
.form .input > select {
	padding: 2px;
	border: 1px solid #969696;
	background: #fff;
	border-radius: 3px;
	width: 75%;
	display: block;
	float: left;
}
.form .input input.validation-failed,
.form .input select.validation-failed {
	border-color: #d9534f;
}
.form .input > input:focus,
.form .input > select:focus {
	border-color: #55aaf3;
	box-shadow: 0px 0px 1px #55aaf3;
}
.form .input .validation-advice {
	color: #d9534f;
	margin-left: 25%;
	clear: both;
}
.form .input ul.radio-list,
.form .input ul.select-list {
	-webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
    -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
    -moz-column-gap: 10px; /* Firefox */
    column-gap: 10px;
    -webkit-column-rule: 0; /* Chrome, Safari, Opera */
    -moz-column-rule: 0; /* Firefox */
    column-rule: 0;
	
	list-style: none;
	padding: 1px 0;
}
.form .input ul.radio-list li,
.form .input ul.select-list li {
	list-style: none;
	position: relative;
}
.form .input ul.radio-list li input,
.form .input ul.select-list li input {
	position: absolute;
	left: -9999px;
}
.form .input ul.radio-list li label,
.form .input ul.select-list li label {
	display: block;
	cursor: pointer;
	padding: 2px 0 2px 20px;
}
.form .input ul.radio-list li label:before,
.form .input ul.select-list li label:before {
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: block;
	content: "";
	position: absolute;
	left: 0;
	top: 4px;
	color: #666;
	
	width: 16px;
	height: 16px;
	
	border: 1px solid #969696;
	background: #fff;
	border-radius: 3px;
}

.form .input ul.radio-list li label:before {
	border-radius: 8px;
}
.form .input ul.radio-list li input:checked + label:after {
	content: "";
	display: block;
	position: absolute;
	background: #666;
	left: 4px;
	top: 8px;
	width: 8px;
	height: 8px;
	border-radius: 4px;
}
.form .input ul.select-list li input:checked + label:before {
	content: "\f00c";
	color: inherit;
}
.form .input ul.radio-list li label:hover,
.form .input ul.select-list li label:hover {
	text-shadow: 0px 0px 1px #55aaf3;
}
.form .input ul.radio-list li label:hover:before,
.form .input ul.select-list li label:hover:before {
	border-color: #55aaf3;
	box-shadow: 0px 0px 1px #55aaf3;
}

table.list {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 -3px;
}
table.list tbody tr {
	cursor: pointer;
}
table.list th {
	text-align: left;
}
table.list th,
table.list td {
	padding: 3px;
}
table.list td.actions {
	text-align: right;
}
table.list tbody tr:hover td {
	background: #fff;
}

ul.pagination {
	list-style: none;
	display: block;
	margin: 0 0 0 -5px;
	padding: 0;
}
ul.pagination li {
	list-style: none;
	display: block;
	float: left;
	margin: 15px 0 0 5px;
}
ul.pagination li > * {
	display: block;
	text-align: center;
	min-width: 22px;
	border: 1px solid #55aaf3;
	background: #55aaf3;
	border-radius: 2px;
	padding: 0 4px;
	color: #fff;
}
ul.pagination li > span {
	border: 1px solid #D3E2F0;
	background: #D3E2F0;
}

/* Tree CSS */
ul.tree,
ul.tree li,
ul.tree ul {
	position: relative;
	zoom: 1;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.tree {
	margin: 0 -3px;
}
ul.tree li,
li.drag,
li.drag ul li {
	margin: 0;
	line-height: 20px;
	list-style-type: none;
}
ul.tree ul,
li.drag ul {
	margin: 0;
	padding: 0 0 0 30px;
}
ul.tree li span,
li.drag span {
	color: #111;
	display: block;
}
ul.tree li .move {
	cursor: move;
}
ul.tree li > span {
	padding: 3px;
}
ul.tree li > span:hover {
	background: #fff;
}
ul.tree li.nodrag span {
	color: #999;
}
ul.tree li span .hover {
	float: right;
	display: none;
}
ul.tree li span:hover > .hover {
	display: block;
}
ul.tree li span .hover .button {
	margin: -1px 0 -1px 3px;
}
div.treeIndicator {
	margin: 0;
	position: absolute;
	width: 100px;
	height: 1px;
	background-color: #000;
	border-top: 1px solid #999;
	z-index: 50;
	overflow: hidden;
	line-height: 1px;
}
li.drag {
	position: absolute;
	z-index: 50;
}
li.drag span * {
	display: none;
}

table.calendar {
	width: 100%;
	table-layout: fixed;
	user-select: none;
	border-collapse: collapse;
	border-spacing: 0;
}
table.calendar th,
table.calendar td {
	vertical-align: top;
	padding: 0;
	margin: 0;
}
table.calendar th.week,
table.calendar th.week-number {
	width: 25px;
	text-align: left;
}
@media (max-width : 767px) {
	table.calendar th span {
		display: none;
	}
}
@media (max-width : 1400px) {
	.page-area > .page-row table.calendar th span {
		display: none;
	}
}
table.calendar td {
	height: 120px;
    position: relative;
}
.content-block table.calendar td {
	height: 38px;
}
table.calendar td .day {
	font-size: 11px;
	padding: 2px;
	position: relative;
	z-index: 1;
	height: 100%;
}
table.calendar td:hover .day {
	background: #fff;
}
table.calendar td .start-of-month + .day {
	padding-left: 20px;
}
table.calendar td .start-of-month {
	width: 50px;
	height: 50px;
	padding: 0 3px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: right;
	-ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
	z-index: 3;
	pointer-events: none;
}
table.calendar td .end-of-month {
	width: 50px;
	height: 50px;
	padding: 0 3px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: left;
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
	z-index: 3;
	pointer-events: none;
}
table.calendar td .event {
	position: absolute;
	z-index: 2;
	background: #55aaf3;
	color: #fff;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	
	border-left: 1px solid #fff;
	padding-left: 2px;
}
table.calendar td .event.hover {
	background: #23527c;
}
table.calendar td.day.selected {
	background: #5cb85c;
	cursor: copy;
}

#content-editor {
	padding: 0 0 10px 0;
}
#content-editor .toolbar {
	margin: 15px;
}

#content-editor .toolbar h2 {
	font-size: 18px;
	float: left;
}
#content-editor .buttons {
	float: right;
}
#content-editor .page-block {
	border: 2px dashed #666;
	padding: 5px;
	min-height: 30px;
	margin: 0 15px 10px 15px;
	position: relative;
}

@media screen and (max-width: 789px) {
}
@media screen and (min-width: 790px) {
	#content-editor .page-area {
		margin: -5px 0 -10px 0;
		display: table;
		table-layout: fixed;
		border-collapse: separate;
		border-spacing: 15px;
		width: 100%;
	}
	#content-editor .page-area > .page-row {
		display: table-row;
	}
	#content-editor .page-area > .page-row > .page-block {
		display: table-cell;
		width: 50%;
		vertical-align: top;
		margin: 0;
	}
	#content-editor .page-area > .page-row > .page-block::before {
		content: ' ';
		min-height: 16px;
		display: block;
		float: right;
	}
	#content-editor .page-area > .page-row > .page-block::after {
		clear: both;
	}
}

#add-page-block {
	position: absolute;
	width: auto;
	white-space: nowrap;
	right: 15px;
	z-index: 3;
}
#new-blocks {
	width: 245px;
	z-index: 1001;
	background: #f3f3f3;
	border-radius: 5px;
	padding: 15px;
	position: absolute;
	cursor: default;
	
	top: 0;
	right: 15px;
	z-index: 4;
	box-shadow: 0px 0px 3px #464646;
}
.block.new-block {
	cursor: move;
}
#content-editor-freeze {
	z-index: 5;
	width: 100%;
	background: #f3f3f3;
	top: 0;
	height: 0;
	position: absolute;
	text-align: center;
}

.content-block {
	position: relative;
	min-height: 22px;
}
.content-block:hover {
	background: #fff;
	box-shadow: 0 0 5px 3px #fff;
}
.content-block * {
	max-width: 100%;
}
.content-block > img {
	display: block;
}
#edit-blocks {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.preview-area {
	position: relative;
}
.preview-area .progress {
	position: absolute;
	left: 5px;
	top: 5px;
}
.preview-area img#preview {
	max-width: 100%;
	max-height: 250px;
	border: 2px solid transparent;
	display: block;
}
#image-form.hover .preview-area img#preview {
	border: 2px dashed #666;
	margin: 0;
}

#map {
	height: 300px;
}
.image-list {
	margin: 5px -5px -5px 0;
}
.image-list .image-tile {
	float: left;
	width: 160px;
	height: 160px;
	position: relative;
	margin: 0 5px 5px 0;
	background: #464646;
	border: 2px solid #464646;
	border-radius: 2px;
}
.image-list .image-tile.dragging {
	background: #000;
	border: 2px solid #000;
}
.image-list .image-tile .sort-handle {
	position: absolute;
	right: -5px;
	top: -5px;
	
	width: 16px;
	height: 16px;
	background: #464646;
	border-radius: 8px;
	cursor: move;
}
.image-list .image-tile.dragging .sort-handle {
	background: #000;
}
.image-list .image-tile img {
	max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
.image-list .image-tile div.progress {
	position: absolute;
	left: 0;
	top: 0;
}
.image-list .image-tile textarea {
	position: absolute;
	left: -2px;
	top: -2px;
	width: 160px;
	height: 160px;
	
	background: rgba(255,255,255,0);
	border: 0;
	resize:none;
	overflow: auto;
	transition: background 0.5s;
	padding: 3px 8px;
	border-radius: 2px;
}
.image-list .image-tile textarea:hover {
	background: rgba(255,255,255,0.8);
}

.file-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.file-input + label {
	cursor: pointer; /* "hand" cursor */
}
.file-input:focus + label,
.file-input + label:hover {
    border: 1px solid #23527c;
    background: #23527c;
    color: #fff;
}