::selection {
	background: #464646; /* WebKit/Blink Browsers */
	color: #eee;
}
::-moz-selection {
	background: #464646; /* Gecko Browsers */
	color: #eee;
}

html,
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 14px;
	line-height: 1.42857143;
	
	margin: 0;
	padding: 0;
	min-height: 100%;
	height: 100%;
	position: relative;
	
	background: #464646;
	color: #333333;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	font-size: 1em;
	line-height: 1.42857143;
}
img {
	border: 0;
}
a {
	color: #337ab7;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #23527c;
	outline: 0;
}

.clear {
	clear: both;
}

.form .input:before,
.form .input:after,
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.form .input:after,
.clearfix:after {
    clear: both;
}

.form .input,
.clearfix {
    *zoom: 1;
}

#menu {
	width: 50px;
	position: absolute;
	transition: width 0.5s;
	min-height: 100%;
}
#wrapper {
	margin: 0 0 0 50px;
	background: #f3f3f3;
	min-height: 100%;
	position: relative;
	transition: margin 0.5s;
}
.menu-open #menu {
	width: 150px;
}
.menu-open #wrapper {
	margin: 0 0 0 150px;
}

#menu .gravatar {
	display: block;
	background: #fff;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	margin: 30px 0 40px 10px;
	transition: height 0.5s, width 0.5s, margin 0.5s;
}
.menu-open #menu .gravatar {
	width: 80px;
	height: 80px;
	margin: 10px 0 10px 10px;
}
#menu ul,
#menu li {
	margin: 0;
	padding: 0;
	list-style: none;
	white-space: nowrap;
}
#menu > ul > li {
	position: relative;
}
#menu a {
	display: block;
	position: relative;
	height: 40px;
	line-height: 20px;
	overflow: hidden;
	padding: 10px 10px 10px 150px;
	border-left: 0px solid #55aaf3;
	transition: padding 0.5s;
	margin: 0 0 0 5px;
}
.menu-open #menu a {
	padding: 10px 10px 10px 40px;
}
#menu a:hover,
#menu a:focus {
	margin: 0;
	border-left: 5px solid #55aaf3;
	color: #55aaf3;
}
#menu > ul > li > ul {
	left: 0;
	opacity: 0;
	background: #464646;
	position: absolute;
	top: 100%;
	left: 100%;
	z-index: 2;
	border-radius: 0 3px 3px 0;
	padding: 2px 2px 2px 0;
	transition: opacity 0.7s, top 0.7s;
	pointer-events: none;
}
#menu > ul > li:hover > ul {
	opacity: 1;
	top: -2px;
	pointer-events: all;
}
#menu > ul li:hover {
	background: #666;
}
#menu > ul li:hover > a {
	text-shadow: 0px 0px 5px #000;
}
#menu .logout button::before,
#menu a::before {
	display: block;
	position: absolute;
	font: normal normal normal 20px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	left: 10px;
	top: 10px;
	content: "\f1db";
}
#menu .calendar::before {
	content: "\f133";
}
#menu .settings::before {
	content: "\f085";
}
#menu .map::before {
	content: "\f0ac";
}
#menu .users::before {
	content: "\f0c0";
}
#menu .pages::before {
	content: "\f0c5";
}

#menu .logout button,
#menu .logout button::before {
	position: absolute;
	display: block;
	cursor: pointer;
	width: 20px;
	color: #337ab7;
}
#menu .logout button {
	text-indent: -999px;
	border: none;
	background: transparent;
	left: 120px;
	top: 70px;
}
#menu .logout button::before {
	left: 0;
	top: 0;
	content: "\f13e";
	text-indent: 0;
}
#menu .logout button:hover::before {
	color: #55aaf3;
	content: "\f023";
}


#top {
	height: 40px;
}
#top #menu-toggle {
	cursor: pointer;
		
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	left: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
	transition: left 0.5s;
}
.menu-open #top #menu-toggle {
	left: -30px;
}
#top #menu-toggle i,
#top #menu-toggle i::before,
#top #menu-toggle i::after {
	content: ' ';
	position: absolute;
	-webkit-transition: 750ms all;
	transition: 750ms all;
	background: #337ab7;
	
	width: 20px;
	height: 4px;
	border-radius: 2px;
	left: 0;
	top: 8px;
}
#top #menu-toggle:hover i,
#top #menu-toggle:hover i::before,
#top #menu-toggle:hover i::after {
	background: #23527c;
}
#top #menu-toggle i::before {
	-webkit-transform: translateY(-7px);
	-ms-transform: translateY(-7px);
	transform: translateY(-7px);
	top: 0;
}
#top #menu-toggle i::after {
	-webkit-transform: translateY(7px);
	-ms-transform: translateY(7px);
	transform: translateY(7px);
	top: 0;
}
.menu-open #top #menu-toggle:hover i,
.menu-open #top #menu-toggle:hover i::before,
.menu-open #top #menu-toggle:hover i::after {
	background: #55aaf3;
}
.menu-open #top #menu-toggle i {
	-webkit-transform: translateY(0px) rotate(45deg);
	-ms-transform: translateY(0px) rotate(45deg);
	transform: translateY(0px) rotate(45deg);
}
.menu-open #top #menu-toggle i::before {
	-webkit-transform: translateY(0px) rotate(-90deg);
	-ms-transform: translateY(0px) rotate(-90deg);
	transform: translateY(0px) rotate(-90deg);
}
.menu-open #top #menu-toggle i::after {
	-webkit-transform: translateY(0px) rotate(-90deg);
	-ms-transform: translateY(0px) rotate(-90deg);
	transform: translateY(0px) rotate(-90deg);
}
#top #server-time {
	font-size: 10px;
	float: right;
	line-height: 12px;
	padding: 14px 15px;
}

header {
	display: block;
	height: 58px;
	border-top: 1px solid #e7eaec;
	border-bottom: 1px solid #e7eaec;
	background: #fff;
	overflow: hidden;
}
header h1 {
	margin: 0;
	padding: 15px;
	line-height: 28px;
	font-size: 21px;
	white-space: nowrap;
}



.overlay {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1000;
	background: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	display: flex;
	user-select: none;
}
.confirm {
	width: 245px;
	z-index: 1001;
	margin: 0 auto;
	background: #f3f3f3;
	border-radius: 5px;
	padding: 15px 15px 52px 15px;
	text-align: center;
	position: relative;
	cursor: default;
}
.confirm .button {
	position: absolute;
	bottom: 15px;
	width: 100px;
}
.confirm .button.add {
	left: 15px;
}
.confirm .button.cancel {
	right: 15px;
}


.form {
	padding: 15px;
}
.form .toolbar {
	margin: 0 0 15px 0;
	clear: both;
}
.form .toolbar h2 {
	float: left;
	font-size: 18px;
	margin: 0;
}
.form .toolbar .buttons {
	float: right;
}
.form .toolbar .buttons.bottom {
	float: none;
	margin: 15px 0 0 25%;
}
.form .toolbar .buttons .button {
    margin-left: 10px;
	margin-bottom: 5px;
	display: block;
	float: left;
}
.form .toolbar .buttons .button:first-child {
    margin-left: 0;
}

.button {
	display: inline-block;
	border: 1px solid #55aaf3;
	background: #55aaf3;
	border-radius: 2px;
	padding: 0 4px;
	color: #fff;
	cursor: pointer;
}
.button:hover {
	border: 1px solid #23527c;
	background: #23527c;
	color: #fff;
}
.button.delete {
	background: #d9534f;
	border: 1px solid #d9534f;
}
.button.delete:hover {
	border: 1px solid #c9302c;
	background: #c9302c;
}
.button.add {
	border: 1px solid #5cb85c;
	background: #5cb85c;
}
.button.add:hover {
	border: 1px solid #449d44;
	background: #449d44;
}

.form .input {
	clear: both;
	margin: 0 0 10px 0;
}
.form .input label {
	width: 25%;
	display: block;
	float: left;
	padding: 3px 0;
}
.form .input input {
	padding: 2px;
	border: 1px solid #969696;
	background: #fff;
	border-radius: 3px;
	width: 75%;
	display: block;
	float: left;
}
.form .input input.validation-failed {
	border-color: #d9534f;
}
.form .input .validation-advice {
	color: #d9534f;
	margin-left: 25%;
	clear: both;
}

/* Tree CSS */
ul.tree,
ul.tree li,
ul.tree ul {
	position: relative;
	zoom: 1;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.tree li,
li.drag,
li.drag ul li {
	margin: 0;
	line-height: 20px;
	list-style-type: none;
}
ul.tree ul,
li.drag ul {
	margin: 0;
	padding: 0 0 0 30px;
}
ul.tree li span,
li.drag span {
	color: #111;
	display: block;
}
ul.tree li .move {
	cursor: move;
}
ul.tree li > span {
	padding: 3px;
}
ul.tree li > span:hover {
	background: #fff;
}
ul.tree li.nodrag span {
	color: #999;
}
ul.tree li span .hover {
	float: right;
	display: none;
}
ul.tree li span:hover > .hover {
	display: block;
}
ul.tree li span .hover .button {
	margin: -1px 0 -1px 3px;
}
div.treeIndicator {
	margin: 0;
	position: absolute;
	width: 100px;
	height: 1px;
	background-color: #000;
	border-top: 1px solid #999;
	z-index: 50;
	overflow: hidden;
	line-height: 1px;
}
li.drag {
	position: absolute;
	z-index: 50;
}
li.drag span * {
	display: none;
}