@font-face {
	font-family: 'icomoon';
	src:	url('../fonts/icons.eot?jgwfkh');
	src:	url('../fonts/icons.eot?jgwfkh#iefix') format('embedded-opentype'),
		url('../fonts/icons.ttf?jgwfkh') format('truetype'),
		url('../fonts/icons.woff?jgwfkh') format('woff'),
		url('../fonts/icons.svg?jgwfkh#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

::selection {
	background: #7fb72a; /* WebKit/Blink Browsers */
	color: #000;
}
::-moz-selection {
	background: #7fb72a; /* Gecko Browsers */
	color: #000;
}

html,
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	font-family: Helvetica, Arial, sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	
	font-size: 14px;
	line-height: 1.42857143;
	
	color: #333333;
}
html {
	background: #57a528 url(../img/background.png) no-repeat center bottom;
	background-size: cover;
	background-attachment: fixed;
}
@media screen and (max-width : 767px) {
	background: #57a528 url(../img/background-mobile.png) no-repeat center bottom;
}
body {
	position: relative;
	margin-top: 100px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

a {
	color: #1A368D;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #000;
	outline: 0;
}
img {
	border:none;
}
.clear {
	clear: both;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

h1,
h2,
h3,
h4 {
	font-family: 'Myriad Pro', Myriad, 'PT Sans', sans-serif;
	font-weight: normal;
	margin: 1em 0 0.2em 0;
}
p {
	margin: 1em 0 0 0;
}
p:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
img.right-into-image:first-child + p,
img.right-into-image:first-child + h1,
img.right-into-image:first-child + h2,
img.right-into-image:first-child + h3,
img.right-into-image:first-child + h4 {
	margin-top: 0;
}
h1 {
	font-weight: bold;
	font-size: 30px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 18px;
}

.header {
	font-family: 'Myriad Pro', Myriad, 'PT Sans', sans-serif;
	position: absolute;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	
	background: #eee;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);

	-webkit-transition: top 0.2s, padding-top 0.2s, padding-bottom 0.2s; /* Safari */
	transition: top 0.2s, padding-top 0.2s, padding-bottom 0.2s;
}
.header .banner {
	overflow: hidden;

	-webkit-transition: height 0.4s, margin-top 0.4s; /* Safari */
	transition: height 0.4s, margin-top 0.4s;
	position: relative;
}
.header .banner > a {
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.header .logo {
	display: block;
	width: 125px;
	height: 81px;
	position: absolute;
	left: 15px;
	top: 265px;
	background: url(../img/ijsselgroep-logo.png) no-repeat left top / auto 100%;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header > ul {
	-webkit-transition: padding 0.4s; /* Safari */
	transition: padding 0.4s;
	background: #fff;
	padding: 0;
}
.header li {
    list-style-type: none;
	position: relative;
}
.header li a {
	position: relative;
    color: #fff;
    padding: 12px 16px 16px 16px;
    text-decoration: none;
	overflow: hidden;
	font-size: 16px;
	line-height: 22px;
	height: 72px;
}
.header li a,
.header li a em {
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.header li.has-sub::after {
	color: inherit;
	content: '\f0d7';
	position: absolute;
	top: 21px;
	right: 10px;
	
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.header #menu > li > a {
	padding-left: 40px;
}
.header #menu > li > a:before {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	position: absolute;
	
	left: 10px;
	top: 23px;
	text-align: center;
	width: 20px;
	font-size: 20px;
	text-indent: 0;
	line-height: 1;
	color: inherit;
	
	-webkit-transition: -webkit-transform 0.3s;
       -moz-transition: -moz-transform 0.3s;
         -o-transition: transform 0.3s;
            transition: transform 0.3s;
}
.header li a {
	color: #333;
}
.header li a:hover,
.header li:hover > a,
.header li.has-sub:hover::after {
	background: #0042df;
	color: #fff;
}
.header li a:hover::before,
.header li:hover > a::before {
	-webkit-transform: scale(1.3);
	   -moz-transform: scale(1.3);
		 -o-transform: scale(1.3);
			transform: scale(1.3);
}
.header a.leeftijdsgroepen:before {
	content: "\e91d";
}
.header a.scouting:before {
	content: "\e90e";
}
.header a.activiteiten:before {
	content: "\e904";
}
.header a.verhuur:before {
	content: "\e908";
}
.header a.contact:before {
	content: "\e91c";
}
.header li.leeftijdsgroepen li a:hover {
	background: #333;
}
.header li.leeftijdsgroepen li.welpen a:hover {
	color: #9bc459;
}
.header li.leeftijdsgroepen li.scouts a:hover {
	color: #f6b135;
}
.header li.leeftijdsgroepen li.explorers a:hover {
	color: #c13858;
}
.header li.leeftijdsgroepen li.roverscouts a:hover {
	color: #ef8339;
}
.header li.leeftijdsgroepen li.leiding-en-bestuur a:hover {
	color: #2f66e8;
}
.header li.leeftijdsgroepen li.vrienden-van-de-ijsselgroep a:hover {
	color: #f2ca06;
}

.content {
	margin: 440px 0 0 0;
}
.content::before {
	clear: both;
	display: table;
	width: 100%;
	height: 0px;
	content: ' ';
}
@media screen and (max-width: 789px) {
	.header #menu-toggle {
		cursor: pointer;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		position: absolute;
		right: 0;
		top: 110px;
		width: 35px;
		height: 35px;
		padding: 0 15px 15px 0;
	}
	.header #menu-toggle i,
	.header #menu-toggle i::before,
	.header #menu-toggle i::after {
		content: ' ';
		position: absolute;
		-webkit-transition: 750ms all;
		transition: 750ms all;
		background: #0042df;

		width: 20px;
		height: 4px;
		border-radius: 2px;
		left: 0;
		top: 8px;
	}
	.header #menu-toggle:hover i,
	.header #menu-toggle:hover i::before,
	.header #menu-toggle:hover i::after {
		background: #333;
	}
	.header #menu-toggle i::before {
		-webkit-transform: translateY(-7px);
		-ms-transform: translateY(-7px);
		transform: translateY(-7px);
		top: 0;
	}
	.header #menu-toggle i::after {
		-webkit-transform: translateY(7px);
		-ms-transform: translateY(7px);
		transform: translateY(7px);
		top: 0;
	}
	.menu-open .header #menu-toggle i {
		-webkit-transform: translateY(0px) rotate(45deg);
		-ms-transform: translateY(0px) rotate(45deg);
		transform: translateY(0px) rotate(45deg);
	}
	.menu-open .header #menu-toggle i::before {
		-webkit-transform: translateY(0px) rotate(-90deg);
		-ms-transform: translateY(0px) rotate(-90deg);
		transform: translateY(0px) rotate(-90deg);
	}
	.menu-open .header #menu-toggle i::after {
		-webkit-transform: translateY(0px) rotate(-90deg);
		-ms-transform: translateY(0px) rotate(-90deg);
		transform: translateY(0px) rotate(-90deg);
	}
	.header {
		height: 150px;
		max-height: 150px;
		overflow: hidden;
		transition: max-height 0.7s, height 0.7s;
	}
	.menu-open {
		overflow: hidden;
	}
	.menu-open .header {
		height: 100%;
		overflow: auto;
		max-height: 1374px;
	}
	.header li.has-sub > ul {
		padding-left: 24px;
	}
	.header li.has-sub:hover {
		background: #eeeeee;
	}
	.header li ul li a:hover,
	.header li ul li a:hover.icon::before {
		background: #333;
	}
	.header .banner {
		height: 150px;
	}
	
	.header .logo {
		top: 54px;
	}
	.header li.leeftijdsgroepen li a {
		padding-left: 12px;
	}
	.header li.leeftijdsgroepen li.welpen a {
		border-left: 4px solid #9bc459;
	}
	.header li.leeftijdsgroepen li.scouts a {
		border-left: 4px solid #f6b135;
	}
	.header li.leeftijdsgroepen li.explorers a {
		border-left: 4px solid #c13858;
	}
	.header li.leeftijdsgroepen li.roverscouts a {
		border-left: 4px solid #ef8339;
	}
	.header li.leeftijdsgroepen li.leiding-en-bestuur a {
		border-left: 4px solid #2f66e8;
	}
	.header li.leeftijdsgroepen li.vrienden-van-de-ijsselgroep a {
		border-left: 4px solid #f2ca06;
	}
	
	.content {
		margin: 150px 0 0 0;
	}
}
@media screen and (min-width: 790px) {
	.header .banner {
		height: 300px;
		overflow: hidden;
		margin-top: 68px;
	}
	.header .logo {
		width: 125px;
		height: 81px;
		position: absolute;
		left: 15px;
		top: 265px;
		
		image-rendering: crisp-edges;
		
		-webkit-transition: top 0.4s, width 0.4s, height 0.4s; /* Safari */
		transition: top 0.4s, width 0.4s, height 0.4s;
	}
	.scrolled .header .banner {
		height: 0;
		margin-top: 44px;
	}
	.scrolled .header .logo {
		width: 36.5px;
		height: 44px;
		top: 57px;
	}
	.scrolled .header > ul {
		padding: 0 0 0 65px;
	}
	.header #menu > li {
		float: left;
	}
	.header #menu > li > a {
		float: left;
		margin: 0 0 0 10px;
	}
	.header #menu > li.leeftijdsgroepen > ul > li > a {
		float: none;
		margin: 0;
	}
	.header li.has-sub a {
		padding-right: 36px;
	}
	.header #menu > li.has-sub > ul {
		display: none;
		background: #fff;
		position: absolute;
		top: 60px;
		left: 5px;
		width: auto;
		min-width: 100%;
		border-radius: 5px;
		border: 1px solid #999;
		overflow: hidden;
	}
	.header #menu > li.has-sub:hover > ul {
		display: block;
	}
	.header li.leeftijdsgroepen {
		padding-right: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: table;
		table-layout: fixed;
	}
	.header li.leeftijdsgroepen::after {
		display: none;
	}
	.header li.leeftijdsgroepen > a {
		display: none;
	}
	.header li.leeftijdsgroepen > ul {
		display: table-row !important;
		position: relative !important;
		top: auto !important;
		left: auto !important;
		right: auto !important;
	}
	.header li.leeftijdsgroepen > ul > li {
		display: table-cell;
		float: none;
		vertical-align: top;
		text-align: center;
	}
	.header li.leeftijdsgroepen > ul > li > a {
		height: 68px;
		padding: 10px 3px 9px 3px;
		
		background: #dddddd;
		background: -moz-linear-gradient(top, #dddddd 0%, #ffffff 100%);
		background: -webkit-linear-gradient(top, #dddddd 0%,#ffffff 100%);
		background: linear-gradient(to bottom, #dddddd 0%,#ffffff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#ffffff',GradientType=0 );
		
		-webkit-transition: height 0.4s; /* Safari */
		transition: height 0.4s;
	}
	.header li.leeftijdsgroepen li.welpen a {
		border-bottom: 5px solid #9bc459;
	}
	.header li.leeftijdsgroepen li.scouts a {
		border-bottom: 5px solid #f6b135;
	}
	.header li.leeftijdsgroepen li.explorers a {
		border-bottom: 5px solid #c13858;
	}
	.header li.leeftijdsgroepen li.roverscouts a {
		border-bottom: 5px solid #ef8339;
	}
	.header li.leeftijdsgroepen li.leiding-en-bestuur a {
		border-bottom: 5px solid #2f66e8;
	}
	.header li.leeftijdsgroepen li.vrienden-van-de-ijsselgroep a {
		border-bottom: 5px solid #f2ca06;
	}
	.header li.leeftijdsgroepen li a:hover {
		padding: 10px 3px 4px 3px;
		border-bottom-width: 10px;
	}
	
	.scrolled .header li.leeftijdsgroepen li a {
		height: 44px;
	}
	.scrolled .header li.leeftijdsgroepen li a em {
		display: none;
	}
}

.footer {
	clear: both;
	color: #fff;
	padding: 17px 10px 2px 10px;
	text-align: center;
	line-height: 16px;
	vertical-align: middle;
}
.footer .social,
.footer .memberships {
	white-space: nowrap;
	line-height: 45px;
}
.footer a {
	display: inline-block;
	
	width: 30px;
	height: 30px;
	border-radius: 15px;
	margin: -7px 5px;
	text-indent: -9999px;
	overflow: hidden;
	
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
}
.footer a:hover {
	background: #fff;
}
.footer a:before {
	text-indent: 0;
	position: absolute;
	
	left: 0;
	top:5px;
	text-align: center;
	width: 100%;
	font-size: 20px;
	text-indent: 0;
	line-height: 1;
	color: #fff;
}
.footer a.web:before {
	content: "\e9cb";
}
.footer a:hover:before {
	color: #000;
}
.footer a.ig:before {
	content: "\ea92";
}
.footer a.yt:before {
	content: "\ea9d";
}
.footer a.fb:before {
	content: "\ea90";
}
.footer a.tw:before {
	content: "\ea96";
}

.footer a.ijsselgroep:before {
	top:2px;
	font-size: 26px;
	content: "\e91b";
}
.footer a.scouting-nl:before {
	top:2px;
	font-size: 26px;
	content: "\e91a";
}
.footer a.scout:before {
	top:2px;
	font-size: 26px;
	content: "\e90f";
}
.footer a.wagggs:before {
	top:2px;
	font-size: 26px;
	content: "\e902";
}

@media screen and (min-width: 981px) {
	.footer > span {
		display: inline-block;
	}
}
@media screen and (max-width: 980px) {
	.footer > span {
		display: block;
	}
}

.breadcrumbs {
	background: #fff url(../img/background-sand.png) no-repeat right -440px;
	margin: 15px 0 0 0;
	padding: 0 10px 0 0;
	list-style: none;
}
.breadcrumbs > li {
	display: block;
	float: left;
	margin: 0 0 0 10px;
	padding: 0 0 0 20px;
	position: relative;
}
.breadcrumbs > li > * {
	display: block;
	font-size: 15px;
	padding: 10px 5px;
	color: #aaa;
}

.breadcrumbs > li.home a::before,
.breadcrumbs > li::before {
	font-size: 15px;
	display: block;
	color: #aaa;
	content: '\f105';
	position: absolute;
	left: 5px;
	top: 10px;
	
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.breadcrumbs > li.home {
	padding-left: 0;
}
.breadcrumbs > li.home a {
	padding-left: 30px;
}
@media screen and (max-width: 789px) {
	.breadcrumbs > li.home {
		text-indent: -999px;
		width: 25px;
	}
}
.breadcrumbs > li.home::before {
	display: none;
}
.breadcrumbs > li.home a::before {
	text-indent: 0;
	content: '\e91e';
}



.content .page-block {
	background: #fff url(../img/background-sand.png) no-repeat right top;
	background-image: url(../img/background-sand.png), url(../img/background-sand.png);
	background-repeat: no-repeat, no-repeat;
	background-position: left 0px bottom -375px, right -225px;
	margin: 15px 15px 0 15px;
	padding: 25px;
	position: relative;
}

@media (max-width: 789px) {
}
@media (min-width: 790px) {
	.content .page-area {
		width: 100%;
		margin: 0 0 -15px 0;
		display: table;
		table-layout: fixed;
		border-collapse: separate;
		border-spacing: 15px;
	}
	.content .page-area > .page-row {
		display: table-row;
	}
	.content .page-area > .page-row > .page-block {
		display: table-cell;
		width: 50%;
		vertical-align: top;
		margin: 0;
	}
	.content .page-area > .page-row > .page-block::before {
		content: ' ';
		min-height: 16px;
		display: block;
		float: right;
	}
	.content .page-area > .page-row > .page-block::after {
		clear: both;
	}
}

.content-block > img {
	max-width: 100%;
	height: auto;
}


table.calendar {
	width: 100%;
	table-layout: fixed;
	user-select: none;
	border-collapse: collapse;
	border-spacing: 0;
}
table.calendar th,
table.calendar td {
	vertical-align: top;
	padding: 0;
	margin: 0;
}
table.calendar th.week,
table.calendar th.week-number {
	width: 25px;
	text-align: left;
}
@media (max-width : 767px) {
	table.calendar th span {
		display: none;
	}
}
@media (max-width : 1400px) {
	.page-area > .page-row table.calendar th span {
		display: none;
	}
}
table.calendar td {
	height: 38px;
    position: relative;
}
table.calendar tr:nth-child(even) td:nth-child(even),
table.calendar tr:nth-child(odd) td:nth-child(odd) {
    background: #eee;
	background: -moz-linear-gradient(top, rgba(239,239,239,0) 0%, rgba(239,239,239,0.65) 100%);
	background: -webkit-linear-gradient(top, rgba(239,239,239,0) 0%,rgba(239,239,239,0.65) 100%);
	background: linear-gradient(to bottom, rgba(239,239,239,0) 0%,rgba(239,239,239,0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00efefef', endColorstr='#a6efefef',GradientType=0 );
}

table.calendar td .day {
	font-size: 11px;
	padding: 2px;
	position: relative;
	z-index: 1;
	height: 100%;
}
table.calendar td .start-of-month + .day {
	padding-left: 20px;
}
table.calendar td .start-of-month {
	width: 50px;
	height: 50px;
	padding: 0 3px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: right;
	-ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
	z-index: 3;
	pointer-events: none;
}
table.calendar td .end-of-month {
	width: 50px;
	height: 50px;
	padding: 0 3px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: left;
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
	z-index: 3;
	pointer-events: none;
}

@media (max-width : 450px) {
	table.calendar td .day {
		font-size: 10px;
	}
	table.calendar td .start-of-month,
	table.calendar td .end-of-month {
		font-size: 11px;
	}
	table.calendar td .start-of-month + .day {
		padding-left: 15px;
	}
}

table.calendar td .event {
	position: absolute;
	z-index: 2;
	background: #0042df;
	color: #fff;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	
	border-left: 1px solid #fff;
	padding-left: 2px;
}
table.calendar td .event.hover {
	background: #23527c;
}
table.calendar td.day.selected {
	background: #5cb85c;
	cursor: copy;
}

img.right-into-image {
	float: right;
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 0 25px 25px;
}
h1.icon,
h2.icon {
	position: relative;
	padding-left: 40px;
}
h1.icon:before,
h2.icon:before {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	position: absolute;
	
	left: 0;
	top: 0;
	text-align: left;
	font-size: 1em;
	text-indent: 0;
	color: #0042df;
}
.icon.info-list:before {
	content: '\e9b8';
}
.icon.calendar:before {
	content: '\e953';
}

ul.pagination {
	list-style: none;
	display: block;
	text-align: center;
	margin: 15px 15px 0 15px;
	padding: 0;
}
ul.pagination li {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}
ul.pagination li a,
ul.pagination li span {
	display: block;
	line-height: 30px;
	height: 30px;
	width: 30px;
	text-align: center;
	background: #fff;
	margin: 0 7px;
}
ul.pagination li:first-child > *,
ul.pagination li:last-child > * {
	text-indent: -999999px;
	position: relative;
}
ul.pagination li a:hover {
	font-weight: bold;
}

a.continue {
	position: relative;
	padding: 0 25px;
	display: block;
	margin: 1em 0 0 0;
	width: auto;
	font-size: 18px;
	font-family: 'Myriad Pro', Myriad, 'PT Sans', sans-serif;
}
a.continue:first-child {
	margin: 0;
}
ul.pagination li:first-child > *:before,
ul.pagination li:first-child > *:after,
ul.pagination li:last-child > *:before,
ul.pagination li:last-child > *:after,
a.continue:before,
a.continue:after {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	position: absolute;
	
	text-align: left;
	font-size: 22px;
	line-height: 1;
	text-indent: 0;
	content: '\f0da';
	top: 0;
	left: 0;
}
a.continue:after {
	left: 5px;
}
a.continue:hover:before {
	left: 1px;
}
a.continue:hover:after {
	left: 8px;
}

ul.pagination li:first-child > *:before,
ul.pagination li:first-child > *:after {
	content: '\f0d9';
}
ul.pagination li:first-child > *:before {
	top: 4px;
	left: 9px;
}
ul.pagination li:last-child > *:before {
	top: 4px;
	right: 9px;
	left: auto;
}
ul.pagination li:first-child > *:after {
	top: 4px;
	left: 14px;
}
ul.pagination li:last-child > *:after {
	top: 4px;
	right: 14px;
	left: auto;
}
ul.pagination li:first-child > a:hover:before {
	left: 6px;
}
ul.pagination li:first-child > a:hover:after {
	left: 13px;
}
ul.pagination li:last-child > a:hover:before {
	right: 6px;
}
ul.pagination li:last-child > a:hover:after {
	right: 13px;
}

